.canvas-form{
    display: flex;
    justify-content: left;
    border: 1px solid black;
    margin-top: -1px;
    margin-left: -1px;
    
}
.canvas-container{
    border: 1px solid black;
    margin-top: -1px;
    margin-left: -1px;
}
.time-stuff{
    border: 1px solid black;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
}
.time-label{
    text-align: center;
}
.time-value{
    text-align: center;
}
.labels{
    display: flex;
    justify-content: space-between;
    
}
.variables{
    border: 1px solid black;
    margin-top: -1px;
    margin-left: -1px;
}
.actual{
    display: flex;
    justify-content: left;
    border: 1px solid black;
    margin-top: -1px;
    margin-left: -1px;
}
.inputed{
    display: flex;
    justify-content: left;
    border: 1px solid black;
    margin-top: -1px;
    margin-left: -1px;
}
.varCol{
    display: flex;
    justify-content: right;
    border: 1px solid black;
    margin-top: -1px;
    margin-left: -1px;
}
.equations-input{
    border: 1px solid black;
    margin-top: -1px;
    margin-left: -1px;
    margin-right: -1px;
}